<!-- page-home.html -->
 <div layout="row" layout-xs="column">
        <div id="about-me" flex layout-align="center center">
            <img ng-click="" class="img-responsive" src="img/alien.svg">
           <h1> About</h1>
           <a href="#about" class="btn btn-primary btn-lg">Home</a>
           <md-button class="md-raised">Button</md-button>
        </div>
         <div id="projects"  flex layout-align="center center">
        <img ng-click="" class="img-responsive" src="img/solar.svg">
          <h1> Projects</h1>
          <a href="#contact" class="btn btn-primary btn-lg">Home</a>
        </div>
   </div>
      



